

.customer {
    text-align: center;
    background-color: aqua;
}

.customer-header {
    width: 70%;
    margin: 0 auto;
}

.customer-header h2 {
    color: #1D1D1D;
    text-align: center;
    font-size: 32px;
    font-family: Inter;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
    margin-bottom: 35px;
}

.customer-header p {
    color: #223140;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    line-height: 32px;
    letter-spacing: -1px;
    margin-bottom: 90px;
    width: 90%;
    margin: 0 auto;
}

.customer-review {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}