.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aliceblue; */
}

.logo h2 {
    color: #1D1D1D;
    text-align: center;
    font-size: 24px;
    font-family: Secular One;
    letter-spacing: -0.293px;
}


.main-menu nav ul{
    display: flex;
    gap: 40px;
}

.main-menu ul li{
    list-style-type: none;
}

.main-menu a {
    text-decoration: none;
    color: #1D1D1D;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 26px;
}

.main-menu fa-solid {
    align-items: center;
    width: 24px;
    height: 24px;
    margin-left: 5px;
}

.signup nav ul{
    display: flex;
    gap: 5px;
    align-items: center;
}

.signup li {
    list-style: none;
}

.signup a {
    text-decoration: none;
    color: #094BCA;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 27px;
    margin-left: 40px;
}

.secondary-button {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 27px;
    background-color: #094BCA;
    border: none;
    border-radius: 5px;
}


/* Here Hero Section Started  */

.hero {
    display: flex;
    gap: 55px;
}
.hero-content {
    padding: 35px 0px;
    text-align: left;
    width: 50%;
}
.hero-image {
    width: 50%;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding-left: 120px;
}
.hero-content h1 {
    color: #1D1D1D;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: -1px;
    width: 70%;
    margin-bottom: 35px;
}

.hero-content p {
    color: #223140;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 45px;
}

.third-button {
    color: #094BCA;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 27px;
    background-color: #FFF;
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    margin-left: 10px;
}


.hero-image img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 4;
    position: relative;
    height: 100%;
}

.hero-image {
    position: relative;
    
}
.hero-back {
    width: 288px;
    height: 288px;
    border-radius: 50%;
    background: #6A80FF;
    position: absolute;
    z-index: 2;
    margin-top: -295px;
    margin-left: -40px;
}